MARIADB_PRIVATE_ROOT_PASSWORD=change_me_private_root
MARIADB_PRIVATE_DATABASE=private_db
MARIADB_PRIVATE_USER=private_user
MARIADB_PRIVATE_PASSWORD=change_me_private_user

MARIADB_PUBLIC_ROOT_PASSWORD=change_me_public_root
MARIADB_PUBLIC_DATABASE=public_db
MARIADB_PUBLIC_USER=public_user
MARIADB_PUBLIC_PASSWORD=change_me_public_user
